# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/vendor

# testing
/coverage

# next.js
/.next/
/out/

# production
# /build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
!/storage/logs/.gitkeep

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local files
local-*
.claude
.z-ai-config
dev.log
test
prompt
server.log

# Laravel
/public/hot
/public/storage
/storage/app/public
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
database/database.sqlite
!database/.gitkeep
Homestead.yaml
Homestead.json

# Docker
Dockerfile
.dockerignore
